numpy==1.23.4
tensorflow==2.11.0
tensorflow_gan==2.1.0
torch==1.13.1
ninja==1.11.1
scipy==1.10.0
matplotlib==3.7.0
torchvision==0.14.1
tqdm==4.64.1
tensorflow_datasets==4.8.2
ml_collections==0.1.1
jax==0.4.3
jaxlib==0.4.3
